{
    email manoharaya03@gmail.com
}

http://demo.codexneural.com:8080 {
    # Reverse proxy for Backend API
    reverse_proxy /api/* backend:8000

    # Reverse proxy for Frontend
    reverse_proxy * frontend:3000

    # Enable compression
    encode gzip
}
